# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Model weights
models/*.pth
models/*.pt

# Dataset (if large)
dataset/

# Output files
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.fdb_latexmk
*.fls
